<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <title>Agregar compra</title>
  </head>

  <body >
    <div class="container" th:fragment="content">
        <div class="container">

          <h1 class="text-center mt-2">Nueva Compra</h1>
            <div class="container">

               <div style="margin-left: 210px" class="container">
                <div class="col-sm-3">
                    <label for="inputName" class="col-form-label">Fecha:</label>
                    <input type="date" class="form-control" name="fechaCompra" id="fechaCompra">
                </div>

                <div class="col-sm-3">
                    <label for="inputName" class="col-form-label">Tipo de Compra:</label>
                    <input type="text" class="form-control" name="tipoCompra" id="tipoCompra">
                </div>

                </div>
                <div style="margin-left: 570px;margin-top: -153px;" class="container">
                <div class="col-sm-3">
                    <label for="inputName" class="col-form-label">N° Factura:</label>
                    <input type="text" class="form-control" name="tipoCompra" id="tipoCompra">
                </div>

                <label for="inputName" class="col-sm-2 col-form-label">Proveedor:</label>
                    <div class="col-sm-3">
                    <input type="text" class="form-control" name="proveedor" id="proveedor" placeholder="Proveedor"readonly="readonly">
                
                    <button style="margin-top: 10px;"  id="boton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalProveedores">
                    <i class="fas fa-search-plus"></i> Buscar
                    </button>
                </div>
                </div>  
            </div>

            <hr>
            <h3 class="text-center">Detalles de la compra</h3>
            <div class="form-group row">
                <div class="col-sm-2">
                    <input type="number" class="form-control" name="cantidad" id="cantidad" placeholder="Cantidad"
                        min="1">
                </div>
                <div class="col-sm-2">
                    <input type="number" class="form-control" name="descuento" id="descuento" placeholder="Precio $"
                        min="0.00" max="100">
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="producto" id="producto" readonly="readonly"
                        placeholder="Producto">
                </div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalProducto">
                    <i class="fas fa-search-plus"></i> Buscar
                </button>
                <button name="agregarDetalle" id="agregarDetalle" class="btn btn-success ml-1 " type="button">
                    <i class="fas fa-plus"></i> Agregar
                </button>
            </div>

            <table class="table border border-dark" style="color: black; text-align: center;" id="tabla">
                <thead class="bg-gradient-primary" style="color: black;">
                    <tr>
                        <th>Cant.</th>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Total</th>
                        <th>Operaciones</th>
                    </tr>

                </thead>
                <tbody style="color: black;" id="tDetalles">

                </tbody>

            </table>
            <div>

                <label for="inputName" class="col-sm-2 col-form-label">
                    <h5>Total venta:</h5>

                </label>
                <div  class="col-sm-2">
                <input  type="text" class="form-control" name="totalVenta" id="totalVenta"
                        readonly="readonly">
                </div>

            </div>
            <div class="text-center form-group mt-4">
                <button type="button" class="btn btn-success" id="guardarVenta">
                    <i class="fas fa-save"></i> Guardar
                </button>
                <a name="cancelar" id="cancelar" class="btn btn-danger" th:href="@{/venta/index}" role="button"><i
                        class="fas fa-window-close"></i> Cancelar</a>
            </div>

            <!--  Modal Para seleccionar producto-->
            <div class="modal fade" id="ModalProveedores">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content" style="margin-left: 150px;">

                        <!-- Modal Header -->
                        <div class="container">
                            <div class="modal-header">
                                <h4 class="modal-title">Listado de proveedores</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <table class="table" id="tablaProveedores">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Apellido</th>
                                            <th>DUI</th>
                                            <th>Teléfono</th>
                                            <th>Correo</th>
                                            <th>Agregar</th>
                                        </tr>
                                    </thead>
                                    <tbody >
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>

            <!--  Modal Para seleccionar producto-->
            <!-- The Modal -->
            <div class="modal fade" id="ModalProducto">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content" style="margin-left: 150px;">

                        <!-- Modal Header -->
                        <div class="container">
                            <div class="modal-header">
                                <h4 class="modal-title">Listado de productos</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <table class="table border border-dark" id="tablaProductos"
                                    style="color: black; text-align: center;">
                                    <thead class="bg-gradient-primary" style="color: black;">
                                        <tr>
                                            <th>Id</th>
                                            <th>Codigo</th>
                                            <th>Producto</th>
                                            <th>Presentacion</th>
                                            <th>Existencias</th>
                                            <th>Categoria</th>
                                            <th>Marca</th>
                                            <th>Operacion</th>
                                        </tr>
                                    </thead>
                                    <tbody style="color: black;">
                                        <!-- <tr th:each="i:${nombreProductos}">
                                        <td th:text="${i.codigoProducto}"></td>
                                        <td th:text="${i.nombreProducto}"></td>
                                        <td th:text="${i.presentacion}"></td>
                                        <td th:text="${i.existencia}"></td>
                                        <td th:text="${i.Categorias.nombreCategoria}"></td>
                                        <td th:text="${i.Marcas.nombreMarca}"></td>
                                        <td>
                                            <button id="AgregarProducto" class="btn btn-primary">
                                                <i class="fas fa-plus"></i> Agregar
                                            </button>
                                        </td>
                                    </tr> -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
  <script src="/src/main/resources/static/js/compra.js"></script>

</html>