<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:include="/layouts/layout::plantilla">

<head>
<title th:fragment="titulo">VISTA LISTAR INVENTARIO</title>
</head>

<body>
	<div class="container" th:fragment="content">
		<div class="container" style="position: absolute;">
			<h1 class="text-center mt-2 mb-2" style="position: absolute;">INVENTARIO</h1>
			<h2 th:if="${items.size()==0}"
				style="margin-top: 35px; text-align: center;">No hay datos para
				mostrar</h2>

			<div style="text-align: right;">
				<a name="nuevoMovimiento" id="nuevoMovimiento"
					class="btn btn-primary mt-4"
					th:href="@{/EntradasSalidasProductos/guardarMovimiento}" role="button"><i
					class="fas fa-plus"></i>Agregar Movimiento</a>
			</div>
			<hr>
			<div class="my-custom-scrollbar-bigTable table-wrapper-scroll-y">
				<table class="table border border-dark" id="datos"
					th:if="${items.size()>0}"
					style="color: white; text-align: center; width: 98%; margin-left: 1%;">
					<thead class="bg-gradient-primary">
						<tr>
							<th>Fecha</th>
							<th>Compra</th>
							<th>Venta</th>
							<th>Movimiento en inventario</th>
						</tr>
					</thead>
					<tbody style="color: black;">
						<!--  <tr th:each="i:${items}">
							<td th:text="${i.fecha}"></td>
							<td th:text="${i.compras.numeroFactura}"></td>
							<td th:text="${i.venta.numeroFactura}"></td>
							<td th:text="${idInventariosProductos}"></td>
						</tr>-->
					</tbody>
				</table>
			</div>
		</div>
		
	</div>

</body>

</html>